:root {
    --dark: #303030;
    --header-color: #2a607c;
    --light: rgb(223, 223, 255);
    --purple: #F24BED;
    --border: lightgrey; 
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: var(--light); */
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--header-color);
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

#main-content {
    background-color: var(--light);
}


#site-nav {
    padding-top: 15px; 
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#site-nav a {
    color: #ffffff;
}



#site-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    
}

#site-nav ul li {
    display:inline;
    padding: 10px;
    color: var(--light);
}

#about-section {
    display: flex;
    flex-direction: horizontal;
}

#about-me {
    padding: 30px;
    padding-top: 10%;
    font-size: 40px;
    border-right: solid;
}

#about-section p {
    padding: 30px;
    padding-top: 10%;
    border: #303030;
    font-size: 20px;
}


#selfphoto { 
    padding-top: 20px;
    width: 28%;
    height: auto;
    border-radius: 120px;
}

#work-section {
    /* display: flex; */
    /* flex-direction: horizontal; */
}

#work{
    padding: 20px;
    font-size: 40px;
    text-align: center;
    /* border-right: solid; */
}

#main-image{
    margin-left: auto;
    margin-right: auto;
}

#main-image img {
    max-width: 97%;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

#main-image figcaption {
    font-size: 30px;
    text-align: center;
    margin-top: -62px;
    color: var(--light);
}

.work-images:hover{
    box-shadow: 5px 5px 5px var(--purple);
}

#site-footer{
    margin-top: 40px;
    height: 100px;
    background-color: rgb(170, 170, 170);
    display: flex;
    flex-direction: left;
}

#contact-me{
    padding-top: 35px;
    padding-left: 10px;
}

footer ul {
    list-style-type: none;
    padding-top: 40px;
    padding-left: 20%;
  
}

footer ul li {
    display:inline;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
    color: var(--light);
}



